.adminInfo {
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 10px 15px rgb(0 0 0 / 5%);
  color: darkslategrey;
  font-weight: 500;
  width: 100%;
  border-radius: 20px;
}
.adminInfo table thead tr th {
  text-align: center;
}
.adminInfo table tbody tr td {
  text-align: center;
}

.adminInfo table tr {
  border-bottom: 1px solid #807e7e;
}
.adminInfo table tr td,
th {
  padding: 15px 0;
}

.adminInfo__content--image {
  width: 50px;
  height: 50px;
  background-color: darkkhaki;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto;
}
.adminInfo__content--image img {
  display: block;
  width: 30px;
  height: 30px;
}
