.adminStatistic {
  padding: 30px;
  font-weight: 500;
}
.adminStatistic__content {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adminStatistic__item {
  width: 22%;
  padding: 20px;
  background-color: #fff;
  color: darkslategrey;
  box-shadow: 0px 10px 16px rgb(0 0 0 / 5%);
  border-radius: 20px;

  display: flex;
  align-items: center;
}
.adminStatistic__item--left {
  width: 50%;
}
.adminStatistic__item--right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.adminStatistic__item--logo {
  max-width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(184, 240, 171);
  border-radius: 50%;
  /* padding: 10px; */
}
.adminStatistic__item--logo img {
  width: 70%;
}
.adminStatistic__item--title {
  font-size: 18px;
}
.adminStatistic__item--description {
  font-size: 36px;
  font-weight: 700;
}
