.statistics {
  margin-top: 30px;
}
.statistics__content {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 500;
}
.statistics__left {
  width: 50%;
  background-image: url("../../../assets/images/main_images/statistics_images/blueTrapeze_2.png");
  background-repeat: no-repeat;
  background-position: 60px 0px;
  background-size: cover;

  padding: 50px 100px 50px 100px;
}
.statistics__right {
  width: 50%;
  padding-right: 100px;
}

.statistics__item {
  margin-bottom: 40px;
}
.statistics__item {
  margin-bottom: 30;
}
.statistics__item--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 40px; */
}
.statistics__item--bottom {
  width: 100%;
  height: 5px;
  background-color: rgb(218, 69, 0);
}
.statistics__right--dots {
  text-align: end;
}

/* --------------------------------------------------@media (max-width: 992px) ----------------------------------- */
@media (max-width: 992px) {
  .statistics__content {
    flex-direction: column;
  }
  .statistics__left {
    width: 80%;
    padding: 30px;
    background-image: unset;
    background-color: #2f3a8f;
    border-radius: 10px;
  }
  .statistics__item {
    margin-bottom: 40px;
  }
  .statistics__right {
    display: none;
  }
}
