.adminAbout {
  padding: 30px;
  /* background-color: #fff; */
  background-color: rgb(244, 252, 255);
  box-shadow: 0px 10px 16px rgb(0 0 0 / 5%);
  color: darkslategrey;
  font-weight: 500;
}
.adminAbout__header {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid darkslategrey;
}
.adminAbout__header h2 {
  font-size: 36px;
  font-weight: 700;
}

.adminAbout .adminTeam__header--btn button:first-child {
  margin-right: 15px;
  
}
.adminAbout .adminTeam__header--btn button:last-child {
  background-color: darkred;
  color: azure;
}
.adminAbout .adminTeam__header--btn button:last-child:hover {
  background-color: rgb(71, 2, 2);
}
.adminAbout .adminTeam__header--btn button:last-child:active {
  background-color: rgb(197, 9, 9);
}

.adminAbout__form {
  display: flex;
  justify-content: space-between;
}

.adminAbout__form--left {
  width: 50%;
}
.adminAbout__form--right {
  width: 50%;
}
.adminAbout__form--item {
  margin-bottom: 30px;
}
.adminAbout__form--item label {
  font-size: 18px;
  font-weight: 700;
}
.adminAbout__input {
  display: block;
  width: 90%;
  border: 1px solid #838383;
  padding: 10px 15px;
  margin-top: 10px;
}
.adminAbout textarea {
  display: block;
  width: 100%;
  height: 140px;
  border: 1px solid #838383;
  padding: 10px 15px;
  margin-top: 10px;
}
