@import url("./assets/fonts/fonts.css");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}
button {
  border-style: none;
  /* background-color: transparent; */
  cursor: pointer;
}

a {
  text-decoration: none;
  color: unset;
}

.App {
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;

  font-family: CeraPro;
  /* font-weight: 500; */
}
input,
textarea {
  border-style: none;
  background-color: transparent;
}

.title__blue {
  color: #1b67ad;
  font-weight: 800;
  font-size: 48px;
  text-align: center;
  /* font-family: CeraPro; */
}
.title__white {
  color: #fff;
  font-weight: 800;
  font-size: 48px;
  text-align: center;
}

.loading--block {
  text-align: center;
  margin: 200px 0;
}
.scrollingContent > div {
  height: unset;
}
/* --------------------------    FLEX__CONTENT    --------------------------------------- */
.flex__content {
  display: flex;
  justify-content: flex-start;
  gap: 2%;
  flex-wrap: wrap;
}
.flex__item {
  width: 32%;
  margin-bottom: 50px;
}

.flex__item--img {
  width: 100%;
  height: 244px;
}
.flex__item--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.flex__item--title {
  color: #fe7e6d;
  font-weight: 700;
  margin: 20px 15px;
  text-align: center;
}
.flex__item--description {
  padding: 0 15px 15px;
  text-align: center;
  font-size: 16px;
  height: 60px;
  overflow-y: hidden;
  color: #2f3a8f;
}

.flex__item--readMore {
  font-size: 14px;
  color: #5e5e5e;

  font-weight: 700;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 15px;
  margin-top: 15px;
}
.flex__item--readMore span {
  margin-right: 7px;
}
/* ---------------------------------------------------------------------- */

/* --------------------------------    pageDetail__container     -------------------------------------------- */
.pageDetail__container {
  padding: 35px 100px 90px;
  font-weight: 500;
}
.pageDetail__content {
  display: flex;
}
.pageDetail__left {
  width: 65%;
}
.pageDetail__right {
  width: 35%;
  padding-left: 20px;
}
.pageDetail__left--img {
  width: 100%;
}
.pageDetail__left--img img {
  width: 100%;
}

.pageDetail__left--title {
  color: #fe7e6d;
  font-size: 24px;
  font-weight: 700;
  margin: 50px 0 20px;
}
.pageDetail__left--description {
  font-size: 18px;
  color: #2f3a8f;
  font-weight: 500;
  line-height: 1.5;
}
.pageDetail__contact {
  width: 100%;
  padding: 20px 0 35px;
  /* display: flex; */
  /* flex-direction: column;
  align-items: center; */
  background-color: #2f3a8f;
}
.pageDetail__contact--title {
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
}
.pageDetail__contact--form {
  width: 70%;
  margin: 31px auto 0;
}
.pageDetail__contact--form p input {
  width: 100%;
  padding: 6px 8px;
  border: 1px solid #c4c4c4;
  margin-bottom: 11px;
  color: #c4c4c4;
}
.pageDetail__contact--form p input::placeholder {
  color: #c4c4c4;
}
.pageDetail__contact--form p textarea {
  width: 100%;
  height: 80px;
}
.pageDetail__contact--btn {
  text-align: center;
  margin-top: 48px;
}
.pageDetail__contact--btn button {
  padding: 7px 85px;
  background: #fe7e6d;
  color: #fff;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.pageDetail__contact--btn button:hover {
  background: #aa3e30;
}
.pageDetail__contact--btn button:active {
  background: #db7e71;
}
.pageDetail__right--dots {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.pageDetail__right--dot2 {
  margin-top: 50px;
  margin-right: 70px;
}
.pageDetail__right--dots img {
  display: block;
  max-width: 140px;
}
/* -------------------------------------------------------------------------------------------------------? */

/* ------------------------------------------------@media (max-width:992px)------------------------------------- */
@media (max-width: 992px) {
  .title__blue {
    font-size: 32px;
  }
  .title__white {
    font-size: 32px;
  }

  .flex__item--description {
    height: 37px;
  }
}
/* ------------------------------------------------@media (max-width:768px)------------------------------------- */
@media (max-width: 768px) {
  .title__blue {
    font-size: 24px;
  }
  .title__white {
    font-size: 24px;
  }

  .flex__item {
    width: 48%;
    margin-bottom: 30px;
  }
  .flex__item--img {
    height: 150px;
  }
  .flex__item--title {
    margin: 15px 0;
    font-size: 16px;
  }
  .flex__item--description {
    font-size: 14px;
  }
}

/* ------------------------------------------------@media (max-width:575px)------------------------------------- */
@media (max-width: 575px) {
  .ourServices__container {
    padding: 15px;
  }
  .flex__item {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .flex__item--img {
    height: 200px;
  }
  .flex__item--title {
    font-size: 14px;
  }
}

/* ------------------------------------------------@media (max-width:450px)------------------------------------- */
@media (max-width: 450px) {
  .flex__item {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
