.admin {
  display: flex;
  background-color: #eee;
  height: 100%;
}

.admin__left {
  width: 20%;
  background-color: #2f3a8f;
  /* height: 100%; */
}
.admin__right {
  width: 80%;
  /* height: 100%; */
}
.admin__content {
  padding: 0 30px;
}

/* ----------------------------------------------adminItem__content------------------------------------------ */

.adminItem {
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 10px 16px rgb(0 0 0 / 5%);
  color: darkslategrey;
  font-weight: 500;
}
.adminItem__content table {
  width: 100%;
  border-collapse: collapse;
}
.adminItem__content table thead tr th {
  text-align: center;
}
.adminItem__content table tbody tr .data--td {
  text-align: center;
}

.adminItem__content table tr {
  border-bottom: 1px solid #807e7e;
}
.adminItem__content table tr td,
th {
  padding: 15px 0;
}

.adminItem__content--image img {
  display: block;
  width: 100px;
  height: 50px;
}
.adminItem__content--title {
  max-width: 300px;
  margin: 0 auto;

  /* text-align: center; */
}
.adminItem__content--dexcription {
  max-width: 300px;
  height: 60px;
  overflow-y: hidden;
  margin: 0 auto;
  /* text-align: center; */
}
